<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Hans Zimmer</h3>
    </div>
  </div>

  <div class="row about-composer">
    <div class="col-sm-5">
      <img src="./assets/the-hans.png">
    </div>

    <div class="col-sm-5">

      <p>Source: mubi.com</p>
      <p>Hans Zimmer, born on September 12, 1957, is a renowned German film composer and music producer. With a career spanning over four decades, Zimmer has composed music for over 150 films, including "The Lion King," "Gladiator," and "Inception." He has received numerous awards, including an Academy Award, two Golden Globes, and four Grammy Awards. Zimmer's unique blend of orchestral and electronic elements has made him one of the most influential composers in the world of film scoring.</p>
    </div>
  </div>
</div>
