<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Jane Austen's House Museum</p>
      <p>Chawton, Alton</p>
      <p>Hampshire, GU34 1SD</p>
      <p>United Kingdom</p>
      <p>Omaha, Nebraska</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Phone: +44 (0)1420 83262</p>
      <p>Email: enquiries@jahmusm.org.uk</p>
      <p>Fax: 543-787-4365</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
    <p style="text-align: center">
        Visit us at Jane Austen's House Museum.
    </p>
</div>
