<!--
  Author: Evelyn Zepeda
  Date: 3/31/24
  Title: contact.component.html
  Description: The contact page for the composer app.
-->
<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 15%;">Contact Information</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="fas fa-location-arrow text-secondary"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">9601 Wilshire Blvd.</li>
            <li class="list-group-item border-0">Beverly Hills, CA 90210</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-phone text-secondary"></i></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Direct:  (310) 285-9000</li>
              <li class="list-group-item border-0">Toll-free: 1-800-123-3344</li>
              <li class="list-group-item border-0">Fax: (310) 949-8982</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
