<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/jane-austen.jpg" />
      </div>
      <div>
        <em>
          Engraving From 1873 Featuring The English Writer, Jane Austen. Found on <a class="attribution-link" href="https://www.istockphoto.com/vector/jane-austen-gm160789110-22850067" target="_blank"> istockphoto</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who was Jane Austen?</h1>
    <p>

Jane Austen, born in 1775, was a renowned English novelist celebrated for her wit and keen social observation. Her novels, including "Pride and Prejudice," "Sense and Sensibility," and "Emma," depict the complexities of love, marriage, and class in 18th-century England. Austen's writing style, characterized by subtle irony and astute character portrayal, has earned her a lasting place in literary history. Despite modest success during her lifetime, her works have become classics, cherished for their timeless themes and enduring appeal. Austen's legacy continues to influence literature and culture, solidifying her reputation as one of the greatest novelists of all time.






    </p>

  </div>
</div>
